@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Kavivanar&family=Noto+Serif+JP:wght@300&display=swap');

.TheNavbar{
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
}
.bookimage{
    width: 2rem;
    height: 2rem;
}
.TheNavLink{
    margin: 1rem;
}
.TheNavLink:first-of-type{
    margin-left: 3rem;
}
.allBooks > img{
    height: 40rem;
}
.allBooks{
    background-color: grayscale($color: #b5c4d4);
}
.theCardDeck{
    margin: 1rem;
}
.theJumbo{
    color: whitesmoke;
    font-size: x-large;
    padding: 1rem;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1153&q=80);
}